@font-face {
    font-family: "Neue Montreal";
    src: url(./fonts/NeueMontreal-Bold.otf);
}

@font-face {
    font-family: "Inferi";
    src: url(./fonts/Inferi-Trial-SemiBoldItalic.otf);
}
:root {
    --dark: rgb(20, 20, 20);
    --yellow: rgb(253, 216, 53);
    --blue: rgb(98, 0, 234);
    
    --c1: rgb(20, 20, 20);
    --c2: rgb(255, 51, 15);
    
    --left-color: var(--c1);
    --right-color: var(--c2);
  }
  
  body {  
    background-color: var(--dark);
    margin: 0px;
  }
  
  .side {
    display: grid;
    height: 100vh;
    overflow: hidden;
    place-items: center;
    position: absolute;
    width: 100%;
  }
  
  .side .title {
    font-family: "Neue Montreal", sans-serif;
    font-size: 8vw;
    margin: 0px 10vw;
    width: 80vw;
  }
  
  .side .fancy {
    font-family: "Inferi", cursive;
    font-size: 1.1em;
    line-height: 0.8em;
    letter-spacing: -1px;
  }
  
  #left-side {
    background-color: var(--left-color);
    width: 60%;
    z-index: 2;
  }
  
  #left-side .title {  
    color: white;  
  }
  
  #left-side .fancy {
    color: var(--right-color);
  }
  
  #right-side {
    background-color: var(--right-color);
  }
  
  #right-side .title {
    color: var(--dark);
  }
  
  #right-side .fancy {
    color: white;
  }
